*.pyc
*.so
*.json
*.vscode
.pdf
*.avi
.idea/
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.csv
*.eps
*.db
*.pov
*.a

resource/**/*.*
!resource/**/*.robray
!resource/**/CMakeLists.txt
!resource/*.png
